body{
width:100%;
background-color: #f1e1ca;
}

h1 {
        font-size: 50px;
    }
.chet {
	background-color: green;
}
.nechet {
	background-color: blue;
}

#cap {
    width:100%;
    height:300px;
    background-color:  blue;
}

#nav {
	background-color: blue;
	width: 100%;
	text-align: center;
	font-size: 30px;
	  height:200px;
}

#nav a {
	text-decoration: none;
	color: black;
}
.footer {
	color: black;
	background-color: blue;
	height: 50px;
	padding-top: 15px;
	font: normal 100% sans-serif;
	margin-top:10px;
}
table {
	width: 80%;
	margin: 0 auto;
}
@media screen and (min-device-width: 500px) {
	#cap {
		  height:240px;
	}
	#nav {
		  height:40px;
	}
    .footer {
        height: 50px;
    }
}
